{% load static %}

<!-- Custom fonts for this template-->
<link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'asset/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@700&family=Raleway:ital,wght@0,400;0,800;1,800&display=swap" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="{% static 'asset/css/sb-admin-2.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'asset/css/indexstyle.css' %}">
