{% load static %}
<nav class="navbar navbar-expand bg-light topbar mb-4 static-top shadow">
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline navbar-search ml-auto">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-3" placeholder="Search"
                aria-label="Search" aria-describedby="basic-addon2">
        </div>
    </form>
        
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>