{% load static %}
{% load audit_tags %}
{% load custom_filters %}
{% load location_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    {% include 'components/css.html' %}

    <style>
        .btn {
            background-color: #008080;
            padding: 10px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            color: white;
            font-family: 'Nunito Sans';
            font-weight: 600;
        }
        .btn:hover {
            background-color: #007070;
            color: white;
            text-decoration: none;
        }

        .dev-item {
            overflow-y: auto;
        }

        .dev-item ul {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }

        .dev-item li {
            margin-bottom: 5px;
            font-size: 0.9rem;
        }
        .box-text{
            color: #1C1C1C; 
            font-family: Nunito;
            font-size: 14px;
            font-style: normal;
            letter-spacing: 0.06rem;
            font-weight: 400;
            line-height: 18px; 
        }
        .count{
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; 
            color: #1C1C1C; 
        }
        .chart-text{
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.06rem; 
            color: #1C1C1C;
        }
        .chart-text2{
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0.06rem; 
        }
        .notification {
            display: flex;
            flex-direction: column;
            background-color: #f8f9fc;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 9px;
            margin: 5px 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }

        .notification.unread {
            background-color: #f8f9fc;
            border-left: 4px solid #008080; 
        }

        .notification-message {
            font-size: 14px;
            font-weight: 500;
            color: #333;
            margin-bottom: 5px;
        }

        .notification-timestamp {
            font-size: 12px;
            color: #999;
            margin-bottom: 5px;
        }

        .mark-read-btn {
            background-color: #008080;
            color: white;
            font-size: 12px;
            padding: 5px 7px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            align-self: flex-start;
        }

        .mark-read-btn:hover {
            background-color: #007070;
        }

        .mark-read-btn:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
        }

        form {
            margin-top: 5px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .notification.unread:hover {
            background-color: #f8f9fc; 
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar1 -->
        {% include 'components/sidebar.html' %}

        <!-- End of Sidebar1 -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                {% include 'components/navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row">
                        <!--  Card  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2" style="background-color:#99EDC3; border-radius:10px">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="mb-1 box-text">
                                                Total Received MailBags {{request.user.is_registry}} - {{request.user.location.name}}</div>
                                            <div class="count">{{mailbox_count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Card  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2" style="background-color:#E5ECF6; border-radius:10px;">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class=" mb-1 box-text">
                                                Total Mails Received
                                            </div>
                                            <div class="count">{{mails_count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Card  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2" style="background-color:#E3F3FF; border-radius:10px;">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class=" mb-1 box-text">
                                                Mails In Transit</div>
                                            <div class="count">{{in_transit_count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Card  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card shadow h-100 py-2" style="background-color:#E5ECF6; border-radius:10px; ">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class=" mb-1 box-text">
                                                Drafted Mailbags</div>
                                            <div class="count"
                                                >{{ drafted_count }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="py-3 d-flex flex-row align-items-center justify-content-between px-3">
                                    <h6 class="m-0 chart-text">Mailbags Overview</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center"> <!-- Flex container -->
                                        <div class="chart-pie pt-2 pb-2"> <!-- Pie chart takes available space -->
                                            <canvas id="myPieChart"></canvas>
                                        </div>
                                        <div class="d-flex ml-3"> <!-- Legend area with spacing -->
                                            <div class="d-flex flex-column ml-3 chart-text"
                                                style=" line-height: 18px; font-size: 14px; font-weight: 500;">
                                                <span class="d-flex align-items-center mb-2">
                                                    <i class="fas fa-circle fa-xs  mr-1" style="color: #4e73df;"></i> Drafted
                                                </span>
                                                <span class="mr-2 d-flex align-items-center mb-2">
                                                    <i class="fas fa-circle fa-xs  mr-1" style="color: #36b9cc;"></i> Received
                                                </span>
                                                <span class="mr-2 d-flex align-items-center md-2">
                                                    <i class="fas fa-circle fa-xs  mr-1" style="color: #1cc88a;"></i> Transit
                                                </span>
                                            </div> <!-- Legend area with spacing -->
                                            <div class="d-flex flex-column ml-3 chart-text"
                                                style="line-height: 18px; font-size: 14px; font-weight: 500;">
                                                <span class="d-flex align-items-center mb-2">
                                                    {{drafted_per}}%
                                                </span>
                                                <span class="mr-2 d-flex align-items-center mb-2">
                                                    {{received_per}}%
                                                </span>
                                                <span class="mr-2 d-flex align-items-center mb-2">
                                                    {{in_transit_per}}%
                                                </span>
                                            </div> <!-- Legend area with spacing -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="py-3 d-flex flex-row align-items-center justify-content-between px-3">
                                    <h6 class="m-0 chart-text">Mail Sent Overview
                                    </h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="d-flex align-items-center"> <!-- Flex container -->
                                        <div class="chart-pie pt-2 pb-2"> <!-- Pie chart takes available space -->
                                            <canvas id="myPieChart1"></canvas>
                                        </div>
                                        <div class="d-flex ml-3"> 
                                            <div class="d-flex flex-column ml-3 chart-text" style="line-height: 18px; font-size: 14px; font-weight: 500;">
                                                {% for labels, mailboxes in mails_per_location.items %}
                                                <span class="d-flex align-items-center mb-2">
                                                    <i class="fas fa-circle fa-xs mr-1" 
                                                    style="color: 
                                                        {% if labels.name == 'Accra' %} #36b9cc; 
                                                        {% elif labels.name == 'Akuse' %} #4e73df; 
                                                        {% elif labels.name == 'Akosombo' %} #36454F; 
                                                        {% elif labels.name == 'Tema' %} #1cc88a; 
                                                        {% else %} #36454F; 
                                                        {% endif %}">
                                                    </i>
                                                    {{ labels.name }}
                                                </span>
                                                {% endfor %}
                                            </div>
                                            
                                            <div class="d-flex flex-column ml-3 chart-text" style="line-height: 18px; font-size: 14px; font-weight: 500;">
                                                {% for labels, count in mails_per_location.items %}
                                                    <span class="mr-2 d-flex align-items-center mb-2">
                                                        {{ count }} 
                                                    </span>
                                                {% endfor %}
                                            </div>                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="py-3 d-flex flex-row align-items-center justify-content-between px-3">
                                    <h6 class="m-0 chart-text" >Mail Graph</h6>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Sidebar2-->
        <ul class="navbar-nav bg-light sidebar sidebar-dark accordion" id="accordionSidebarRight"
            style="margin-left: auto; width: 300px !important;">
            <ul class="navbar-nav bg-light sidebar sidebar-dark accordion" id="accordionSidebarRight"
                style="margin-left: auto; width: 300px !important;">
                <section class="dev">
                    <div class="dev-item">
                        <h4 class="chart-text">Notifications</h4>
                        <span>
                            <ul style="list-style-type: none; padding: 0; font-family: 'Inter', sans-serif; font-size: 14px; font-weight: 400;">
                                {% for notification in notifications %}
                                <div class="notification {% if not notification.read %}unread{% endif %}">
                                    <p class="notification-message">{{ notification.message }}</p>
                                    <span class="notification-timestamp">{{ notification.timestamp }}</span>
                                
                                    {% if not notification.read %}
                                        <form action="{% url 'mark_as_read' notification.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="mark-read-btn">Mark as Read</button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </ul>
                        </span>
                    </div>

                    {% if request.user.is_authenticated and request.user.is_admin %}
                    <h4 class="chart-text mb-1">Audit Log</h4>
                    <div class="dev-item">                      
                        <!-- Start of Audit Log -->
                        <ul style="list-style-type: none; padding: 0; font-family: 'Inter', sans-serif; font-size: 14px; font-weight: 400;">
                            {% for log in log_entries %}
                            <li style="padding: 7px; border-bottom: 1px solid #EAEAEA;">
                                <i class="fas fa-clipboard fa-md mr-2"></i>
                                <span>
                                    On {{ log.action_time|date:"M d, Y H:i" }},
                                    {{log.change_message}}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- End of Audit Log -->
                    </div>
                    {% endif %}
                    <h4 class="chart-text mt-3 mb-4">Locations</h4>
                    <div class="dev-item">
                        <ul style="list-style-type: none; padding: 0; margin: 0; font-family: 'Inter', sans-serif; font-size: 14px; font-weight: 400; color: #1C1C1C;">
                            {% get_all_locations as locations %}
                            {% for location in locations %}
                            <li style="padding: 10px; border-bottom: 1px solid #EAEAEA;">
                                <i class="fas fa-map-marker-alt mr-2" style="color: #36b9cc;"></i>
                                {{ location.name }}
                            </li>
                            {% empty %}
                            <li style="padding: 10px; border-bottom: 1px solid #EAEAEA; color: #6c0707;">
                                <i class="fas fa-exclamation-circle mr-2" style="color: #6c0707;"></i> 
                                No locations available.
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                </section>

            </ul>
        </ul>
        <!-- End of Sidebar2 -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    {% include 'components/js.html' %}
    <script>

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example for Mails and MailBox
        var ctx1 = document.getElementById("myPieChart");
        var myPieChart1 = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                labels: ["Drafted", "In Transit", "Received"],
                datasets: [{
                    data: [{{ drafted_count|default:0 }}, {{ in_transit_count|default:0 }}, {{ received_count|default:0 }}],

        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],  // Colors for each status
            hoverBackgroundColor: ['#3e5cbf', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
                                }],
                        },
        options: {
            maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
            legend: {
                display: false
            },
            cutoutPercentage: 50,
            },
        });

        // Pie Chart Example for Locations
        var ctx2 = document.getElementById("myPieChart1");

// Define color mappings based on the location names
        const colorMap = {
            'Accra': '#36b9cc',
            'Akuse': '#4e73df',
            'Akosombo': '#36454F',
            'Tema': '#1cc88a'
        };

        const hoverColorMap = {
            'Accra': '#2c9b9e',
            'Akuse': '#3b5cbf',
            'Akosombo': '#2c3a43',
            'Tema': '#17a66a'
        };

        // Generate labels and data from your template
        const labels = [{% for label in mails_per_location.keys %} "{{ label.name }}", {% endfor %}];
        const data = [{% for label, count in mails_per_location.items %} {{ count }}, {% endfor %}];


        // Create background and hover colors dynamically based on the label names
        const backgroundColors = labels.map(label => colorMap[label] || '#36454F');  // Default color if label is missing
        const hoverBackgroundColors = labels.map(label => hoverColorMap[label] || '#2c3a43');  // Default hover color

        var myPieChart2 = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: backgroundColors,
                    hoverBackgroundColor: hoverBackgroundColors,
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 10,
                    yPadding: 10,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 50,
            },
        });


        // bar chart
        // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

function number_format(number, decimals, dec_point, thousands_sep) {
  // *     example: number_format(1234.56, 2, ',', ' ');
  // *     return: '1 234,56'
  number = (number + '').replace(',', '').replace(' ', '');
  var n = !isFinite(+number) ? 0 : +number,
    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
    s = '',
    toFixedFix = function(n, prec) {
      var k = Math.pow(10, prec);
      return '' + Math.round(n * k) / k;
    };
  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
  if (s[0].length > 3) {
    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
  }
  if ((s[1] || '').length < prec) {
    s[1] = s[1] || '';
    s[1] += new Array(prec - s[1].length + 1).join('0');
  }
  return s.join(dec);
}
const months = {{ months|safe }};
const receivedCounts = {{ received_counts|safe }};
// Bar Chart Example
var ctx = document.getElementById("myBarChart1");

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [months],
    datasets: [{
      label: "Mails",
      backgroundColor:[
        "#008080", // Jan
        "#BAEDBD", // Feb
        "#1C1C1C", // Mar
        "#B1E3FF", // Apr
        "#A8C5DA", // May
        "#A1E3CB", // Jun
        "#95A4FC", // Jul
        "#A1E3CB", // Aug
        "#1C1C1C", // Sep
        "#B1E3FF", // Oct
        "#A8C5DA", // Nov
        "#A1E3CB"  // Dec
      ],
      borderColor: "#4e73df",
      data: receivedCounts,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 12
        },
        maxBarThickness: 50,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 1500,
          maxTicksLimit: 5,
          padding: 10,
          
         
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
        }
      }
    },
  }
});

</script>



</body>

</html>